@import "tailwindcss";

body{
  font-family: 'Roboto', sans-serif;
}

.modak{
  font-family: 'Modak', sans-serif;
}

/* globals.css */
.material-symbols-outlined {
  font-size: inherit !important;
  line-height: 1 !important;
  vertical-align: middle !important;
  display: inline-flex;
  align-items: center;
}